<ion-header>
  <ion-navbar>
    <ion-title>
    	Fifth page
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div class='flex-h'>
		<animation-wrap></animation-wrap>
	</div>
  	<div class='c-container w-70'>
      <br>
  		<p class='t-center f-18'>Do you want to add a couple more links to tell people more <b>about you</b> or your company and give them the ability to <b>contact you</b>? <br><br></p>
  	</div>
  	<div class="w-70 c-container flex-h space-around">
  		<div>
  			<button class='negative-button action-button shadow'>No</button>
  		</div>
  		<div>
  			<button class='positive-button action-button shadow'>Yes</button>
  		</div>
  	</div>
    <p><br><br><br><br></p>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
