<ion-header>
  <ion-navbar>
    <ion-title>
    	Sixth Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class='flex-h'>
		<animation-wrap></animation-wrap>
	</div>
	<br>
  	<div class='c-container w-70'>
  		<p class='t-center f-18'>Ok, if you want to add the sections later just let me know <br><br>&#60;Auto Load&#62; Content Section</p>
  	</div>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
