<ion-header>
  <ion-navbar>
    <ion-title>
      DailyMynd
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class='flex-h'>
    <animation-wrap></animation-wrap>
	</div>
	<br>
  	<div class='c-container w-70'>
  		<p class='t-center f-18'>To get started, you'll need to tell me a little about the site we're creating together. <br>The name, branding, and your social media pages.<br><br><span class='f-14'><b>This part may be easer in a computer</b></span><br><br><br><br></p>
  	</div>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
