<ion-header>
  <ion-navbar>
    <ion-title>Third page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-6 class='flex-v'>
				<animation-wrap></animation-wrap>
			</ion-col>
			<ion-col col-6 class='flex-v'>
				<ion-card class='dark-card'>
					<ion-card-content>
						<p>Let's  link all your <span class="highlight">social media</span> pages, so people know where to find you</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list class='form'>
			
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Email list or mailto: Email">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>


		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Facebook">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Twitter">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Linkedin">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Youtube">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Instagram">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Pinterest">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Tumblr">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

	</ion-list>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
