<ion-header>
  <ion-navbar>
    <ion-title>
    	Second page
    </ion-title>
  </ion-navbar>

</ion-header>

<div class="modal flex-v transition" id="color-picker-modal">
	<div class="color-picker-form flex-v shadow">
		<div class="flex-h">
			<color-picker [hexColor]="'#FF0000'" (colorChanged)="setColor($event)"></color-picker>
		</div>
		<div class="flex-h f-end">
			<button class="action-button shadow positive-button" id='color-picker-button' (click)="closeModal('color-picker-modal')">Done</button>
		</div>
	</div>
</div>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-6 class='flex-v'>
				<animation-wrap></animation-wrap>
			</ion-col>
			<ion-col col-6 class='flex-v'>
				<ion-card class='dark-card'>
					<ion-card-content>
						<p>Lest's start with the basics. <br><span class='highlight'>Names</span>, <span class="highlight">colors</span> and <span class="highlight">logos</span></p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-list class='form'>
			
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Domain name">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Website title">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<input type="text" placeholder="Short tagline" id='thirdinput'>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-9>
						<input type="text" disabled value="Highlight color" id='color-input'>
					</ion-col>
					<ion-col col-3 class='flex-v'>
							<div class="flex-h f-end">
								<button class='action-button shadow positive-button' (click)="openModal('color-picker-modal')">
									<i class="fa fa-paint-brush" aria-hidden="true"></i>
								</button>
							</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-9>
						<input type="text" [value]="longLogoText" disabled id='long-logo'>
					</ion-col>
					<ion-col col-3 class='flex-v'>
							<div class="flex-h f-end">
								<button class='action-button shadow negative-button' (click)="openLibrary('long-logo')">
									<i class="fa fa-folder-open-o" aria-hidden="true"></i>
								</button>
							</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-9>
						<input type="text" [value]="squareLogoText" disabled>
					</ion-col>
					<ion-col col-3 class='flex-v'>
							<div class="flex-h f-end">
								<button class='action-button shadow negative-button' (click)="openLibrary('square-logo')">
									<i class="fa fa-folder-open-o" aria-hidden="true"></i>
								</button>
							</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<textarea name="footer-text" id="" cols="30" rows="10" placeholder="Descriptive text for footer"></textarea>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

	</ion-list>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
