<!--
  Generated template for the FourthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>fourthPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-6 class='flex-v'>
				<animation-wrap></animation-wrap>
			</ion-col>
			<ion-col col-6 class='flex-v'>
				<ion-card class='dark-card'>
					<ion-card-content>
						<p><span class="highlight">It's not required</span>, but feel free to enter any other codes you would like</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list class='form'>
			
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<textarea name="google-code" id="" cols="30" rows="10" placeholder="Google Analytics Code"></textarea>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<textarea name="google-code" id="" cols="30" rows="10" placeholder="Other general codes"></textarea>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>

	</ion-list>
</ion-content>

<navigator [pages]="pagesArray"></navigator>
