* {
  margin: 0;
  padding: 0;
  line-height: normal !important; 
  font-family: "Lato"}

lottie-animation-view > div{
  width: 100%;
  height: 100%;
}

.large-padding{
  padding-bottom: 200px !important;}

.modal.active{
  z-index: 9999;
  opacity: 1;}

.modal{
  opacity: 0;
  position: absolute;
  height: 100vh;
  background: rgba(0,0,0,.4);
  width: 100vw;
  height: 100vh;}

.modal .color-picker-form{
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  width: 90%;
  border-radius: 5px;}

/*.scroll-content{
  background: linear-gradient(141deg, #296b64 0%,  #27729b 75%);}*/

.form .item-ios, .form .item-md{
  padding-left: 0px !important;}

.label-ios{
  margin: 0px !important;}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border-bottom: none !important;}

.list-ios > .item-block:first-child{
  border-top: none !important;}

.action-button{
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 10px;
  color: #fff;}

.negative-button{
  background: linear-gradient(141deg, #b80f58 0%,  #99124c 75%);
}

.positive-button{
  background: linear-gradient(141deg, #0fb8ad 0%,  #2cb5e8 75%);
}

ion-list.form{
  padding-bottom: 50px;}

ion-list.form .item-md{
  background: transparent;}

ion-list.form .item-inner{
  border-bottom: none !important;}

ion-list.form .label-md{
  margin: 0;}

ion-list.form input, ion-list.form textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 20px;}

input, textarea{
  border: none;}

ion-app.md [padding], ion-app.md [padding] .scroll-content{
  padding: 10px !important;}

ion-card.dark-card.card{
  background: linear-gradient(141deg, #404040 0%, #171717 50%); }

ion-card.dark-card.card p{
  color: #fff; }

ion-card.dark-card.card span.highlight,
ion-card.dark-card.card p.highlight{
  color: #f1cf89;}

.rounded ,ion-img.rounded img{
  border-radius: 10px;
}

.content-md{
  background-color: #f7f7f7 !important;
}

.capitalize {
  text-transform: capitalize; }

.fw-4 {
  font-weight: 400; }

.no-margin {
  margin: 0px !important; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.pointer {
  cursor: pointer; }

.circle {
  border-radius: 50%; }

.white {
  background-color: #fff; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center !important; }

.default {
  cursor: default; }

.grey-color {
  color: #8c8c8c !important; }

.grey {
  background-color: #8c8c8c; }

.green-color {
  color: #009688 !important; }

.green {
  background-color: #009688; }

.red-color {
  color: #c1574f !important; }

.red {
  background-color: #c1574f; }

.blue-color {
  color: #03cde5 !important; }

.blue {
  background-color: #03cde5; }

.white-color {
  color: #FFF !important; }

.white {
  background-color: #FFF; }

.black-color {
  color: #000; }

.pink-color {
  color: pink; }

.black {
  background-color: #000; }

.h-100 {
  height: 100% !important; }

.w-100 {
  width: 100% !important; }

.w-90 {
  width: 90% !important; }

.w-80 {
  width: 80% !important; }

.w-70 {
  width: 70% !important; }

.w-60 {
  width: 60% !important; }

.w-65 {
  width: 65% !important; }

.w-50 {
  width: 50% !important; }

.w-40 {
  width: 40% !important; }

.w-45 {
  width: 45% !important; }

.w-30 {
  width: 30% !important; }

.w-20 {
  width: 20% !important; }

.f-8 {
  font-size: 8px !important; }

.f-10 {
  font-size: 10px !important; }

.f-12 {
  font-size: 12px !important; }

.f-14 {
  font-size: 14px !important; }

.f-16 {
  font-size: 16px !important; }

.f-18 {
  font-size: 18px !important; }

.f-20 {
  font-size: 20px !important; }

.f-22 {
  font-size: 22px !important; }

.f-24 {
  font-size: 24px !important; }

.f-26 {
  font-size: 26px !important; }

.f-28 {
  font-size: 28px !important; }

.f-30 {
  font-size: 30px !important; }

.f-40 {
  font-size: 40px !important; }

.f-46 {
  font-size: 46px !important; }

.f-70 {
  font-size: 70px !important; }

.no-list {
  list-style: none; }

.no-link {
  color: inherit;
  text-decoration: none; }

.shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3)12 }

.low-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  opacity: 0; }

.disp-none {
  display: none !important; }

.transition, .hidden, .real-hidden {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.c-container {
  margin: 0 auto !important;
  display: block; }

.radius {
  border-radius: 4px; }

.flex-h {
  display: flex !important;
  flex-direction: row;
  justify-content: center; }

.flex-v {
  display: flex !important;
  flex-direction: column;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.f-end {
  justify-content: flex-end; }

.f-start {
  justify-content: flex-start; }

.f-center {
  justify-content: center; }

.wrap {
  flex-wrap: wrap; }

.uppercase {
  text-transform: uppercase; }

.full {
  width: 100%;
  height: 100%; }

.v-margin {
  margin: 20px 0 !important; }

.h-margin {
  margin: 0 20px !important; }

.margin {
  margin: 20px !important; }

.m-top-30 {
  margin-top: 30px !important; }

.v-padding {
  padding: 20px 0; }

.h-padding {
  padding: 0 20px !important; }

.padding {
  padding: 20px !important; }

.upercase {
  text-transform: uppercase; }

/*# sourceMappingURL=basic.css.map */
