navigator {
	width: 100%;
	z-index: 999;
	position: fixed;
	bottom: 20px;
}

navigator button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
}

navigator button:nth-child(1){
	background: linear-gradient(141deg, #0fb8ad 0%,  #2cb5e8 75%);
}
navigator button:nth-child(2){
	background: linear-gradient(141deg, #999999 0%,  #5f5f5f 75%)
}
navigator button:nth-child(3){
	background: linear-gradient(141deg, #b80f58 0%,  #99124c 75%);
}
