<!-- Generated template for the NavigatorComponent component -->
<div class='flex-h space-around w-100'>
	<button (click)="prev()" class='shadow'>
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</button>
	<button (click)="cancel()" class='shadow'>
		<i class="fa fa-times" aria-hidden="true"></i>
	</button>
	<button (click)="next()" class='shadow'>
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
	</button>
</div>
